[submodule "workspace/src/thirdparty/pointcloud_to_laserscan"]
	path = workspace/src/thirdparty/pointcloud_to_laserscan
	url = https://github.com/ros-perception/pointcloud_to_laserscan.git
	branch = humble
[submodule "workspace/src/thirdparty/FAST_LIO"]
	path = workspace/src/thirdparty/FAST_LIO
	url = https://github.com/hku-mars/FAST_LIO.git
	branch = ROS2
[submodule "workspace/src/thirdparty/ros2bag_tools"]
	path = workspace/src/thirdparty/ros2bag_tools
	url = https://github.com/AIT-Assistive-Autonomous-Systems/ros2bag_tools.git
[submodule "workspace/src/thirdparty/vs_rover_options_description"]
	path = workspace/src/thirdparty/vs_rover_options_description
	url = https://github.com/vstoneofficial/vs_rover_options_description.git
	branch = humble
[submodule "workspace/src/thirdparty/megarover3_ros2"]
	path = workspace/src/thirdparty/megarover3_ros2
	url = https://github.com/vstoneofficial/megarover3_ros2.git
[submodule "workspace/src/thirdparty/octomap_server2"]
	path = workspace/src/thirdparty/octomap_server2
	url = https://github.com/iKrishneel/octomap_server2.git
[submodule "workspace/src/thirdparty/octomap_msgs"]
	path = workspace/src/thirdparty/octomap_msgs
	url = https://github.com/OctoMap/octomap_msgs.git
	branch = ros2
